body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	background-color: #333;
	color: #ccc;
}

h1 {
	text-align: center;
}

img {
	margin-top: 20px;
	width: 90%;
	max-width: 250px;
	border-radius: 100%;
}
